@font-face{
    font-family: 'Baloo', cursive;
    src: url('../fonts/Baloo-Regular.ttf');
}

body{
    font-family: 'Baloo', cursive;
}

h2, h3{
    padding: 0;
    margin: 0;
}

.fichero{
    border-collapse:collapse
}


td{
    /* border:solid black 3px; */
    text-align: center;
    height:80px;
    padding:0;
    /* overflow: hidden; */
}
td > div{
    display:flex;
    border:solid burlywood 1px;
    justify-content: center;
    align-items: center;
    width: 4em;
    height: 100%;
    font-size:20px;
}


.miniTenis > div{
    border: solid burlywood 1px;
    width:25%;
    height:100%;
    background-color:rgb(55, 179, 70); 
    font-size:20px;
}


.miniTenis{
    padding:0;
    display:flex;
    flex-direction: row;
    width:10vw;
    border: solid rgb(199, 222, 135) 1px;
}

.casillas:hover{
    /* cursor:pointer; */
    /* width:200px; */
    background-color:rgb(158, 199, 168) !important;
}


#fil_0_col_6{
    width:100%;
}

div[id^="fil_0_col"]{
    background-color: rgb(55, 179, 70);
}


/* +++++++++++++++++++ registro +++++++++++++++++*/


.overlay{
    
    background: rgba(12, 11, 11, 0.4);
    position: fixed;
    top:0;
    bottom:0;
    right:0;
    left:0;
    display:flex;
    justify-content: center;
    align-items:center;
    visibility: hidden;
}

.overlay.active{
    visibility: visible;
}

.popup{
    /* box-sizing: border-box; */
    overflow: auto;
    height: 400px;
    background: #b2cebd;
    box-shadow: 5px 5px 5px rgba(25, 25, 25, 0.8);
    padding:20px;
    padding-top:0;
    text-align: center;
    width:70%;
    border-radius: 8px;
    opacity: 0;
    transform: scale(.6);
    
}

.popup.active{
    transition: .2s ease all;
    opacity: 1;
    transform: scale(1);
}

.icon_cerrar{
    color:gray;
    cursor:pointer;
    transition: .2s ease all;
}

.icon_cerrar:hover{
    color:black;
}

.popup .cerrar_popup{
    font-size:15px;
    display: block;
    text-align: right;
    padding-top:3px;
}

#titulo_registro{
    text-shadow:2px 2px 3px rgba(25, 25, 25, 0.5);
    font-size:1.8em;
    opacity:0;
}

.texto_label{
    font-size:18px;
    /* opacity: 0; */
}

.cont_modalidad{
    display: flex;
    justify-content: space-around;
}

.cont_modalidad img{
    cursor:pointer;
    height: 60px;
}

.select_modalidad{
    position: absolute;
    display: flex;
    justify-content: space-around;
    margin: 1em 0;
    text-align-last: center;
    visibility: hidden;
}

.select_modalidad.active{
    position: static;
    visibility: visible;
}

.select_modalidad .cont_select{
    width:40%;
}

.select_usuario{
    font-size: 1.5em;
    line-height: 1em;
    width: 100%;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgb(29, 28, 28);
    background: linear-gradient(palegreen, rgba(55, 179, 70, .8)); 
}

.select_usuario:hover{
    background:linear-gradient(rgb(110, 202, 110), rgb(27, 139, 40));
}

.select_usuario option{
    text-align-last:  center;
    color: rgb(36, 128, 47); 
}

.cont_inputs{
    position: absolute;
    visibility: hidden;
}
.cont_inputs .input_text{
    width:80%;
    font-size:20px;
    line-height:30px;
    text-align: center;
    margin-bottom:8px;
}

.btn{
    display:flex;
    justify-content: space-around;
}

.btn_registro{
    background: linear-gradient(palegreen, rgba(55, 179, 70, .8)); 
    margin-top: 15px;/* por el momento luego lo quito */
    padding:9px;
    width:100%;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgb(63, 61, 61);
    animation: .3s ease all;
}


/* ++++++++++++++++++++ texto recurso humano ++++++++++++++++++++*/
#texto_rh{
    margin-bottom: 1em;
    display:flex;
    justify-content: space-around;
}

#recurso_humano{
    margin:auto;
    width: 90%;
    display:flex;
    justify-content: space-between;
}

.select_rh{
    padding: 8px 0;
    position: absolute;
    box-sizing: border-box;
    background: linear-gradient(palegreen, rgba(55, 179, 70, .8)); 
    border-radius: 10px;
    box-shadow: 4px 4px 3px rgba(25, 25, 25, 0.8);
    display:flex;
    justify-content: space-around;
    align-items: center;
    width:100%;
    visibility: hidden;
}

#select_profesor_1.active,#select_profesor_2.active,#select_profesor_3.active,#select_profesor_4.active{
    position: static;
    visibility: visible;
}

#select_monitor_1.active,#select_monitor_2.active,#select_monitor_3.active,#select_monitor_4.active{
    position: static;
    visibility: visible;
}

#select_usuario_1.active,#select_usuario_2.active,#select_usuario_3.active,#select_usuario_4.active{
    position: absolute;
    visibility: hidden;
}
#cont_inputs_1.active, #cont_inputs_2.active, #cont_inputs_3.active, #cont_inputs_4.active{
    position: static;
    visibility: visible;
}

.select_rh:hover{
    background:linear-gradient(rgb(110, 202, 110), rgb(27, 139, 40));
    cursor: pointer;
}

.contenedor_rh{
    width:45%;
}

.icono_rh{
    width:10%;
}

.rh{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

.img_user, .rh img{
    width: 40px;
}
.rh h4{
    margin:0;
}

.contenedor_opciones_rh img{
    width: 40px;
}

#profesor h3, #monitor h3{
    padding: 1em 0;
    font-size: 1.3em;
}

.contenedor_opciones_rh .opciones{
    box-sizing: border-box;
    padding:0 1em;
    background:rgb(255, 255, 255);
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.opciones:hover{
    cursor: pointer;
    background:rgb(79, 161, 79);
}

.contenedor_opciones_rh{
    margin-top:15px;
    overflow: auto;
    height: 200px;
    border-radius: 8px;
    width:100%;
    visibility: hidden;
    position: absolute;
}

/* ++++++++++++++++++++++++Actives++++++++++++++++++++++++++++++++++ */
#opciones_profesor_1.active, #opciones_profesor_2.active, #opciones_profesor_3.active, #opciones_profesor_4.active{
    position: static;
    visibility: visible;
}

#opciones_monitor_1.active, #opciones_monitor_2.active, #opciones_monitor_3.active, #opciones_monitor_4.active{
    position: static;
    visibility: visible;
}

/* --------------------Animaciones------------- */

.btn_registro:hover{
    background:linear-gradient(rgb(110, 202, 110), rgb(27, 139, 40));
}

#titulo_registro.active{
    animation: entradaTitulo .5s ease .2s forwards;
}

@keyframes entradaTitulo{
    from{
        transform: translateY(-25px);
        opacity:0;
    }

    to{
        transform: translateY(0px);
        opacity:1;
    }

}